
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-top: 150px;

    background-color: transparent;
    
}

.footer_detail {
    text-align: center;
    width: 55%;
}
.footer_link{
    display: flex;
}
.footer_link div{
    margin:4px;
}

.footer-logo .logo-svg{
    fill:white;
    height: 100%;
    width: 60px;
}
.footer-logo{

    height: 40px;
    
}

.footer_span{
    color:#0E8787 ;
}

@media only screen and (max-width: 900px){
    .footer_detail {
        text-align: center;
        width: 88%;
    }
    footer {
      
        margin-top: 15%;
    }
}