
  
.trigger {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    /* border: 2px solid #0E8787; */
    border-radius: 10px;
    transform: translateX(-50%) translateY(-50%);
}
  
.bars {
    width: 32px;
    cursor: pointer;
}
  .bars .line {
    fill: none;
    stroke: #0E8787;
    stroke-width: 4;
    stroke-linecap: square;
    transition: stroke-dasharray 400ms,  stroke-dashoffset 400ms;
  }
  .bars .line.top {
    stroke-dasharray: 40 172;
  }
  .bars .line.middle {
    stroke-dasharray: 40 111;
  }
  .bars .line.bottom {
    stroke-dasharray: 40 172;
  }
  .bars.active .top {
    stroke-dashoffset: -132px;
  }
  .bars.active .middle {
    stroke-dashoffset: -71px;
  }
  .bars.active .bottom {
    stroke-dashoffset: -132px;
  }
