body{
    background-color: black;
    color:white;
    margin: 4px;
    flex-direction: column;

}
.logo{

    width: 147px;
    height: 151px;
    position: relative;
    top: -100px;
    left: 34px;
    overflow: hidden;
}

    

.about-nav{
    margin-left: 300px;

}
.slogo{
    position: absolute;
    width: 486px;
    border: 2px solid red;
    bottom: 56px;
    left: -140px;
    height: 128px;
    top: -43px;
}


.main-nav{
    background: rgba(50, 253, 224, 0);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(28, 119, 105, 0.218);
    position: fixed;
    z-index: 22;
    width: 100%;
    height: 60px;
    display: flex;
    margin-top: 0;
    top: 0;
}
.main-nav ul{
   
    display: flex;
    margin-left: 150px;
    position: relative;
    

}
.left-nav{
    list-style: none;
    margin-left: 25px;
}
.Search-and-contact{
    margin-left: 490px;
    margin-right: 10px;
    list-style: none;
}
.Search-and-contact .right{
    margin-right: 16px;
}


.main-nav spline-viewer {
    position: absolute;
    top: 32px;
    left: 5px;
    width: 113px;
    height: 122%;
    z-index: 1;
}
nav li a, nav ul a{
    text-decoration: none;
    color:white;
}

.conatct-btn{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    position: relative;
    /* height: 23px; */
    width: 120px;
    border-style: none;
    border-radius: 10px;
    

}
:root{
    --blurval:0;
    --padval:1px;
    --degr:45deg;
}




.Search-and-contact input::-webkit-input-placeholder{
    color:rgb(175, 175, 175);
}

.search {
    background-color: transparent;
    position: relative;
    border-radius: 10px;
    color: white;
    outline: 1px solid #004a4abd;
    border: 0px;
    
}


.solution #solution{
    background-color: transparent;
    color: white;
    position: relative;
}
.solution #solution option{
    background-color: transparent;
    color:black;
}


.nav-hovor{
    width: 0%;
    background-image: linear-gradient(90deg,#1c1c1c5c,#2bcbcb4d,#27cdcd);
    color:#27CDCD;
    display: block;
    height: 3px;
    border-radius: 30px;
    margin-left: 20px;
    transition: 0.4s linear;
    opacity: 0;
    position: relative;
    bottom: 2px;
}

nav li:hover ~ .nav-hovor{

    /* animation:NavEffect 0.3s ; */
    width: 75%;
    opacity: 1;
}




@keyframes NavEffect{
    from{
        width: 0%;
        opacity: 0.5;
    }
    to{
        width: 80%;
        opacity: 1;
    }
}

@media only screen and (max-width: 768px){
    .search{
        display: none;
    }
 

    /* nav .logo{
        display: none;
    } */
    .main-nav ul{
        margin-left: -36px;
        width: 100vw;
    }
    .conatct-btn {
        margin-left: 16px;
    }
    .portfolio{
        display:none;
    }
    .main-nav{
        margin:0;
    }
    .about-nav{
        display: none;
    }
    .menu-btn{
        display: block;
    }
}

@media only screen and (max-width: 900px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-nav{
        display: none;
    }
    nav ul a{
        position: relative;
    }
    .search::after{
        display:none;
    }
    body{
        overflow: hidden;
    }
    .Search-and-contact {
        margin-left: auto;
        margin-right: 10px;
        list-style: none;
    }
    .logo {
        width: 56px;
        height: auto;
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;
    }
      

 
    .element h1, p {
        text-align: left;
        margin-left: 0;
        margin-right: 15px;
    }


}

hr{
    height: 2px;
    background-color: rgb(43, 43, 43);
    margin:0;
    border-radius: 12px;
}
.menu-btn{
    width: 20px;
    display: none;
}

