spline-viewer {
    z-index: -1;
}

.main-home-image-section {
    width: 700px;
    height: 600px;
    overflow: hidden;
    z-index: 1;
    margin-left: 497px;
    margin-top: 99px;
    position: relative;
    /* border: 2px solid blue; */
}

.main-home-image-section img {
    z-index: 2;
    width: 420px;
    position: absolute;
    top: 261px;
    left: 1098px;
    filter: drop-shadow(-17px 10px 1px rgba(0, 0, 0, 0.277));
}

.main-home-image-section spline-viewer {
    height: 700px;
}

.main-home-image-section .home-svg1 {
    z-index: -2;
    height: 632px;
    margin-left: -62px;
    width: 648px;
    margin-top: -52px;
}

.main-home-image-section #ecDEQrn1iOo1 {
    z-index: 5;
    height: 900px;
    margin-top: -861px;
    margin-left: -163px;
    position: relative;
}

.home-section {
    display: flex;
    flex-direction: row;
}

.main-home-content {
    margin-top: 200px;
    margin-left: 54px;
    width: 400px;
    /* border: 2px solid blue; */
}

.main-home-content h1 {
    font-family: 'Metal Mania';
    font-size: 48px;
    letter-spacing: 2px;
}

.main-home-content h1 span {
    color: #0E8787;
}

.donload-cv-btn {
    background-color: transparent;
    color: white;
    border: 1px solid #0E8787;
    padding: 4px;
    width: 155px;
    border-radius: 5px;
    margin-top: 20px;
}

.main-home-content p {
    margin: 0;
    text-align: left;
}

@media only screen and (max-width: 834px) {
    .main-home-content h1 {
        font-family: 'Metal Mania';
        font-size: 36px;
        letter-spacing: 5px;
    }

    .main-home-content {
        margin-top: 64px;
        margin-left: 29px;
        width: 400px;
        /* border: 2px solid blue; */
    }

    .home-section {
        display: flex;
        flex-direction: column;
    }

    .main-home-image-section img {
        width: 420px;
        opacity: 0.5;
        margin-top: -92px;
        margin-left: 74px;
        top: 0;
        left: 0;
        /* Removed absolute positioning on small screens */
    }

    .main-home-image-section {
        width: 500px;
        height: 464px;
        overflow: hidden;
        z-index: 1;
        margin-left: 0;
        border-bottom-right-radius: 83px;
        border-bottom-left-radius: 122px;
        box-shadow: inset -17px -11px 2px #000000;
    }
}
